.example.block {
    
    display: flex;
    align-items: center;

    &::after {
        content: "example";
        font-style: italic;
        color: var(--highlight-background-color);
        height: 100%;
        width: 3em;
        padding: 0.5em 1em 1em 1em;
        align-self: start;
    }

    &::before {
        content: url('/assets/noun-training.svg');
        width: 48px;
        height: 48px;
        margin-right: 1em;
    }

    > div {
        padding: 1em;
        display: flex;
        align-items: center;
        margin: 1em 0;
        flex-grow: 1;
        border-radius: var(--radius-standard);
    }
}