.picker {
    background-color: var(--dark-background-color);
    display: flex;
    align-items: center;
    padding: 0.5em;
    margin: 0;

    select {
        padding: 1em; 
        margin: 1em;
        border-radius: var(--radius-standard);

        option {
            padding: 0.5em 1em;
        }
    }

    button {
        padding: 0.25em 1em;
        background-color: var(--button-primary-color);
        font-size: 1em;
        border-radius: var(--radius-standard);
        border: 1px solid var(--highlight-background-color);
        color: white;
    }
}